footer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    padding: 5% 0;
    margin-bottom: 5%;
}

.table h4{
    font-size: 1.2em;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 100;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    margin-bottom: 10%;
}

ul li{
    list-style: none;
    font-size: .9em;
    font-family: 'poppins';
    font-weight: 200;
    letter-spacing: 2px;
    margin-bottom: 5%;
    padding-left: 5%;
    /* border-left: 2px solid  rgba(0, 0, 0, 0.377); */
}

ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.688);
}

ul li a:hover{
    color: rgb(0, 0, 0);
}

ul li:hover{
    border-left: 2px solid rgba(5, 96, 82, 0.773);
}


ul li a:active{
    color: #6f540b8c;
}
.magazine{
    width: 20%;
    height: auto;
}
.magazine h3{
    font-size: 2em;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 1000;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    margin-bottom: 10%;
    text-align: center;
}

/*? align the button */
footer .buttonDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:1000px){
    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
    }
    
    .table h4{
        font-size: 1.2em;
        font-family: 'PT Sans Narrow', sans-serif;
        font-weight: 100;
        color: rgb(0, 0, 0);
        letter-spacing: 2px;
        margin-bottom: 10%;
    }
    
    ul li{
       display: none;
        /* border-left: 2px solid  rgba(0, 0, 0, 0.377); */
    }

    .table h4:hover + ul li{
        display: block;
       color: red;
    }
    
    .magazine{
        width: 100%;
        height: auto;
    }
    .magazine h3{
        margin-top: 8%;
        margin-bottom: 2%;
    }
    
}