.ProductDisc{
    width: 100%;
    height: auto;
    margin: 5% 0;
    display: flex;
}

.ProductImg {
    width: 50%;
    height: 60vh;
}


.ProductDescription{
    width: 50%;
    height: 55vh;
    padding:0 5% 5% 3%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
}

.ProductDescription h4{
    font-size: 3em;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 800;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    margin-bottom: 3%;
}

.ProductDescription p{
    font-size: 1em;
    font-family: 'poppins';
    font-weight: 100;
    color: rgba(0, 0, 0, 0.834);
    letter-spacing: 2px;
    margin-bottom: 3%;
}

.payButtons{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
}

@media(max-width:1000px){
    .ProductDisc{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    
    .ProductImg {
        padding: 0 2%;
        width: 96%;
        height: auto;
    }
    
    
    .ProductDescription{
        width: 90%;
        height: auto;
    }
    
    .ProductDescription h4{
        font-size: 2em;
    }
    
    .ProductDescription p{
        font-size: .6em;
    }
}